<div class="container">
  <div class="navbar">
    <h2 class="mat-title">
      Form #{{currentFormId}}
    </h2>
    <div>
      <mat-form-field class="">
        <input matInput placeholder="Enter form number" value=""  [(ngModel)]="formNumber">
      </mat-form-field>        
      <button mat-flat-button color="accent" (click)="loadForm(formNumber)">Go</button>

    </div>
  </div>
  <div class="content" cdkDropListGroup>
  
    <div class="content-main-col">
        <div class="droplist-container">
          <h2 class="mat-title">
            Constructor
          </h2>
  
          <div
            cdkDropList
            [cdkDropListData]="elements"
            class="droplist"
            (cdkDropListDropped)="drop($event)">
            <div class="droplist-box" *ngFor="let field of elements; let i = index;" cdkDrag>
              <div class="icons">
                <mat-icon (click)="editElement(i)" color="accent">edit</mat-icon>
                <mat-icon (click)="deleteElement(i)" color="accent">delete</mat-icon>
              </div>
              <div class="droplist-custom-placeholder" *cdkDragPlaceholder></div>
  
              <ng-container elementField [field]="field" >
              </ng-container>
            </div>
  
          </div>
        </div>
      
    </div>
    <div class="content-side-col">
        <div class="droplist-container" *ngIf="!ifEditElement">
          <h2 class="mat-title">
            Fields
          </h2>
  
          <div
            cdkDropList
  
            [cdkDropListData]="regConfig"
            class="droplist">
            <div class="droplist-box" *ngFor="let item of regConfig" cdkDrag>
              <div class="droplist-custom-placeholder" *cdkDragPlaceholder></div>{{item.type}}
            </div>
          </div>
        </div>
      
        <div class="form form-container" *ngIf="ifEditElement">
          <div class="form-box">
  
            <edit-form [fields]="currentElementConfig" (submit)="submitElement($event)">
            </edit-form>
          </div>
        </div>
  
  
    </div>
  
  
  </div>
</div>