<div class="container">
  <div class="navbar">
    <h2 class="mat-title">
      Form #{{currentFormId}}
    </h2>
    <div>
      <mat-form-field>
        <input matInput placeholder="Enter form number" [(ngModel)]="formNumber">
      </mat-form-field>
      <button mat-flat-button color="accent" (click)="loadForm(formNumber)">Go</button>
    </div>
  </div>
  <div class="content">
    <div class="content-main-col">
      <div class="droplist-container">
        <h2 class="mat-title">
          Form Constructor
        </h2>

        <div class="droplist" 
          [dndList]="{
          allowedTypes: ['group', 'button', 'date', 'input', 'radiobutton', 'select', 'checkbox']}"
          [dndModel]="elements_form"
          [dndPlaceholder]="placeholder">
          <div *ngFor="let item of elements_form; let i = index;">

            <div class="droplist-box"
              [dndType]="item.type"
              [dndDraggable]
              (dndMoved)="dropElement(item, elements_form)"
              [dndObject]="item">
                <div class="icons">
                  <mat-icon (click)="editElement(i, elements_form)" color="accent" matTooltip="Edit element">edit</mat-icon>
                  <mat-icon (click)="deleteElement(i, elements_form)" color="accent" matTooltip="Delete element">delete</mat-icon>
                </div>              
                <app-group [field]="item" *ngIf="item.type === 'group'" [fieldId]="i" (editInGroup)="editInGroup($event)" (deleteFromGroup)="deleteFromGroup($event)"></app-group>
                <ng-container elementField [field]="item" *ngIf="item.type != 'group'"></ng-container>
              </div>
          </div>
        </div>

      </div>
    </div>
    <div class="content-side-col">
      <div class="droplist-container" *ngIf="!ifEditElement">
        <h2 class="mat-title">
          Fields
        </h2>
        <div class="droplist">
          <div class="droplist-box" 
            *ngFor="let template of regConfig"
            [dndType]="template.type"
            [dndDraggable]="{effectAllowed:'copy'}"
            [dndObject]="template"
            (dndCopied)="moveElement(template)">
            {{template.type}}
          </div>
        </div>        

      </div>
      <div class="form form-container" *ngIf="ifEditElement">
        <div class="form-box">
    
        <edit-form [fields]="currentElementConfig" (submit)="submitElement($event)">
        </edit-form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dndPlaceholder droplist-custom-placeholder"
#placeholder></div>