@import '~@angular/material/theming';

@include mat-core();

//@include angular-material-theme($indigo-pink-theme);

.mat-title {
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.navbar {
  background-color: map_get($mat-pink, 600);
  flex: 0 0 100px;
  padding: 20px 30px;
}

.content {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: map_get($mat-deep-purple, 300);
  &-main-col {
    display: flex;
  }
	&-side-col {
		background-color: map_get($mat-pink, 300);
	}
  h2 {
    color: $light-secondary-text;
  }
}

.group-handle {
  float: right;
}

.droplist-container {
  width: 400px;
  max-width: 100%;
  margin: 25px;
}

.droplist {
  border: solid 1px $dark-dividers;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.form-container {
  @extend .droplist-container;
}

.form-box {
  @extend .droplist;
  padding: 20px 10px;
}

.droplist-box {
  padding: 20px 10px;
  padding-right: 65px;
  border-bottom: solid 1px $dark-dividers;
  color: $dark-primary-text;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: $light-disabled-text;
  font-size: 14px;
  position: relative;
  .icons {
    position: absolute;
    top: 16px;
    // transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
  }
}

//.groupbox,
.box-type-group {
  padding: 20px 10px;
  border-bottom: solid 1px map_get($mat-deep-purple, 500);
  border-top: solid 1px map_get($mat-deep-purple, 500);

}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.droplist-box:last-child {
  border: none;
}

.droplist.cdk-drop-list-dragging .droplist-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
